h1{
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.titulo{
    background-color: #6FFF00;
}

#titulobis h1{
    font-size: 20px;
    margin-left: 20px;
    color: white;
    background-color: #00FFDA;
}

p{
    margin-top: 20px;
    margin-left: 20px;
}