*{
    text-align: justify;
    margin: 0 auto;
}

h1{
    text-align: center;
    text-transform: uppercase;
    font-size: 300%;
    padding: 20px;
}

header{
    width: 80%;
    padding-bottom: 20px;
    text-align: justify;
    margin-bottom: 10px;
    background-color: rgb(146, 145, 145);
}

div{
    background-color: #ccc;
    padding-bottom: 10px;
}

.izq{
    margin-right: 5px;
    padding: 5px;
    text-align: justify;
    width: 20%;
    float: left;
}

.dch{
    float: right;
    text-align: justify;
    width: 20%;
}

.centro{
    float: left;
    text-align: justify;
    width: 25%;
    margin-left: 5px;
}

.pie{
    width: 80%;
    text-align: justify;
    clear: both;
    background-color: rgb(146, 145, 145);
}